  body {
    padding: 16;
    display: flex;
    justify-content: center;
    background-color: #6fb0b3;
    line-height: 1;
  }
  
  .container {
    padding: 1rem;
    max-width: 600;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #defeff;
    margin-bottom: 1rem;
  }
  
  p {
    text-align: center;
    color: #666;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  form input, form button {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  form input:focus {
    outline: none;
    border-color: #defeff;
    box-shadow: 0 0 4px #defeff;
  }
  
  form button {
    background-color: #defeff;
    border-radius: 10em;
    cursor: pointer;
    transition: background-color 0.3s ;
  }
  
  form button:hover {
    background-color: #77afc9;
  }
  

  .lista-contatos {
    list-style: none;
    padding: 0;
  }
  
  .lista-contatos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
  }
  
  .lista-contatos li:hover {
    background-color: #e9ecef;
  }
  
  .lista-contatos li span {
    flex: 1;
    margin-right: 1rem;
  }
  
  .lista-contatos li button {
    padding: 0.5rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .lista-contatos li button:hover {
    background-color: #c82333;
  }
  
  .pesquisa {
    margin-bottom: 1rem;
  }
  
  .pesquisa-input {
    width: 190px;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 40px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  
  .pesquisa input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
  }
  